<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imscbit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/imsc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/imsc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Aboutus" />
        <activity android:name=".Attendance_Calculator" />
        <activity android:name=".GPA_Calculation" />
        <activity android:name=".Physics_PPS" />
        <activity android:name=".Physics_PE_IV" />
        <activity android:name=".Physics_PE_III" />
        <activity android:name=".Physics_PE_II" />
        <activity android:name=".Physics_PE_I" />
        <activity android:name=".Syllabus" />
        <activity
            android:name=".Subject"
            android:parentActivityName=".Branch" />
        <activity
            android:name=".Branch"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>