<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aditya.imscbit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/imsc"
        android:label="@string/app_name"
        android:logo="@mipmap/imsc"
        android:roundIcon="@mipmap/imsc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".maths.maths_gpa_calculation"></activity>
        <activity android:name=".maths.Maths_subjects" />
        <activity android:name=".Aboutus" />
        <activity android:name=".attendance.Attendance_Calculator" />
        <activity android:name=".physics.GPA_Calculation" />
        <activity android:name=".physics.Physics_PPS" />
        <activity android:name=".physics.Physics_PE_IV" />
        <activity android:name=".physics.Physics_PE_III" />
        <activity android:name=".physics.Physics_PE_II" />
        <activity android:name=".physics.Physics_PE_I" />
        <activity android:name=".physics.Syllabus" />
        <activity
            android:name=".physics.Subject"
            android:parentActivityName=".Branch" />
        <activity
            android:name=".Branch"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>